.grid-item {
    right: 80px;
    left: 80px;
    width: 712px;
    height: 528px;
    background: var(--unnamed-color-444444) 0% 0% no-repeat padding-box;
    background: #444444 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.44;
}







